<div class="col-sm-6 col-sm-offset-3">
  <h1>BLACKJACK</h1>
</div>

<div class="col-sm-6 col-sm-offset-3">
  <h2>Dealer</h2>
  <div class="dealer-hand">

  </div>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <h2>Player</h2>
  <div class="player-hand">

  </div>
</div>
