<div class="col-sm-6 col-sm-offset-3">
  <h1>BLACKJACK</h1>
</div>

<div class="col-sm-6 col-sm-offset-3">
  <h2>Dealer</h2>
  <div class="dealer-hand">

  </div>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <h2>Player</h2>
  <div class="player-hand">

  </div>
  <div class="js-player-actions">
    {{#if preGame}}
      <button class="js-deal">Deal</button>
    {{else}}
      {{#if playerTurn}}
        <button class="js-double">Double</button>
        <button class="js-split">Split</button>
        <button class="js-hit">Hit</button>
        <button class="js-stand">Stand</button>
      {{/if}}
    {{/if}}
  </div>
</div>
